// @import "./Components/_config.css";
// @import "./Components/_mixins.css";
@import "./Components/_Card.css";

/** @type {String} class前缀 */
$clsPrefix: 'wu-';
/** @type {px} 与Card的gap属性相同 */
$gap: 2px;
/** @type {px} 与Card的r属性相同 */
$r: 4px;

$cardBgC: white;
$cardBorderW: 1px;
$cardBorderC: #eee;

$primary: #337ab7;
$success: #5cb85c;
$info: #5bc0de;
$danger: #d9534f;

$shadow-primary: 0 1px 6px hsla(208, 56%, 46%, .5);
$shadow-success: 0 1px 6px hsla(120, 39%, 54%, .5);
$shadow-danger: 0 1px 6px hsla(2, 64%, 58%, .5);
$shadow-default: 0 1px 6px hsla(0, 0%, 39%, .2);

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
body {
    // background-color: rgb(236, 236, 236);
}

.wu-card-box {
    margin: 0 10px;
}

.btn-group {
    @include clearfix();
    clear: both;
}

.wu-card-list {
    @include clearfix();
}

.wu-fileAdd {
    @extend .wu-card-box;
    .wu-card-border {
        stroke: $info;
        stroke-dasharray: 10!important;
        stroke-dashoffset: 0!important;
    }
}

.wu-add-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 1em;
    margin: auto 0;

    font-size: 60px;
    line-height: 1;
    text-align: center;
    color: $info;
    cursor: pointer;
}

.wu-card-remover {
    position: absolute;
    top: 15px;
    right: 10px;

    color: $danger;
    cursor: pointer;
    font: {
        family: sans-serif;
        size: 24px;
        weight: bold;
    }
    line-height: 0;

    opacity: 0;
    transition: opacity 1s;
}

.wu-card-box:hover .wu-card-remover {
    opacity: 1;
    transition: opacity 1s;
}

.wu-upload-error .wu-card-remover {
    opacity: 1;
    transition: opacity 1s;
}

.wu-preview {
    width: 100%;
}

.wu-fileinfo {
    position: absolute;
    bottom: 0;

    padding: 0 10px;

    h3 {
        margin-bottom: 10px;
    }

    p {
        margin: 10px 0;

        color: #999;
    }
}

.webuploader-container {
    display: none;
}
