@charset "UTF-8";

/** @type {String} class前缀 */


/** @type {px} 与Card的gap属性相同 */


/** @type {px} 与Card的r属性相同 */

.wu-card-box,
.wu-fileAdd {
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    padding: 4px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    transition: box-shadow 1s;
    display: inline-block;
    vertical-align: middle;
}

.wu-card-box:hover,
.wu-fileAdd:hover {
    transition: box-shadow 1s;
}

.wu-card-box:hover,
.wu-fileAdd:hover {
    box-shadow: 0 1px 6px rgba(99, 99, 99, 0.2);
}

.wu-card-box path,
.wu-fileAdd path {
    stroke: #dfdfdf;
    stroke-linecap: round;
}

.wu-card-box.wu-upload-progress:hover,
.wu-upload-progress.wu-fileAdd:hover {
    box-shadow: 0 1px 6px rgba(52, 122, 183, 0.5);
}

.wu-card-box.wu-upload-progress .wu-card-border,
.wu-upload-progress.wu-fileAdd .wu-card-border {
    stroke: #337ab7;
}

.wu-card-box.wu-upload-complete:hover,
.wu-upload-complete.wu-fileAdd:hover {
    box-shadow: 0 1px 6px rgba(92, 183, 92, 0.5);
}

.wu-card-box.wu-upload-complete .wu-card-border,
.wu-upload-complete.wu-fileAdd .wu-card-border {
    stroke: #5cb85c;
}

.wu-card-box.wu-upload-error:hover,
.wu-upload-error.wu-fileAdd:hover {
    box-shadow: 0 1px 6px rgba(216, 84, 79, 0.5);
}

.wu-card-box.wu-upload-error .wu-card-border,
.wu-upload-error.wu-fileAdd .wu-card-border {
    stroke: #d9534f;
}

.wu-card-box.wu-upload-complete,
.wu-upload-complete.wu-fileAdd {
    animation-duration: 1s;
    animation-name: showSuccess;
}

.wu-card-box.wu-upload-complete .wu-card-border,
.wu-upload-complete.wu-fileAdd .wu-card-border {
    stroke-dasharray: 0 !important;
    stroke-dashoffset: 0 !important;
}

.wu-card-box.wu-upload-error,
.wu-upload-error.wu-fileAdd {
    animation-duration: 1s;
    animation-name: showError;
}

.wu-card-box.wu-upload-error .wu-card-border,
.wu-upload-error.wu-fileAdd .wu-card-border {
    stroke-dasharray: 0 !important;
    stroke-dashoffset: 0 !important;
    transition: unset;
}

.wu-card-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.wu-card-bg>path {
    fill: transparent;
    stroke-dasharray: 0;
    stroke-width: 2;
    transition: stroke-dashoffset 1s;
}

.wu-card-header {
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #e9e9e9;
    padding: 0 24px;
}

.wu-card-content {
    border-radius: 2px;
    line-height: 1.2;
    overflow: hidden;
    text-align: center;
}

.wu-card-preview {
    width: 100%;
}

@keyframes showError {
    from {
        box-shadow: 0 1px 6px rgba(216, 84, 79, 0.5);
    }
    20% {
        box-shadow: none;
    }
    40% {
        box-shadow: 0 1px 6px rgba(216, 84, 79, 0.5);
    }
    60% {
        box-shadow: none;
    }
    80% {
        box-shadow: 0 1px 6px rgba(216, 84, 79, 0.5);
    }
    to {
        box-shadow: none;
    }
}

@keyframes showSuccess {
    from {
        box-shadow: 0 1px 6px rgba(92, 183, 92, 0.5);
    }
    to {
        box-shadow: none;
    }
}

.wu-card-box,
.wu-fileAdd {
    margin: 0 10px;
}

.btn-group {
    clear: both;
}

.btn-group:before,
.btn-group:after {
    content: " ";
    display: table;
}

.btn-group:after {
    clear: both;
}

.wu-card-list:before,
.wu-card-list:after {
    content: " ";
    display: table;
}

.wu-card-list:after {
    clear: both;
}

.wu-fileAdd .wu-card-border {
    stroke: #5bc0de;
    stroke-dasharray: 10 !important;
    stroke-dashoffset: 0 !important;
}

.wu-add-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1em;
    margin: auto 0;
    font-size: 60px;
    line-height: 1;
    text-align: center;
    color: #5bc0de;
    cursor: pointer;
}

.wu-card-remover {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #d9534f;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 0;
    opacity: 0;
    transition: opacity 1s;
    display: inline-block;
    background-image: url('./images/deleteIcon.png');
    background-repeat: no-repeat;
    background-size: 80px 80px;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-color: #999;
}
.wu-card-remover:hover{
    opacity: 0.5;
}

.wu-card-box:hover .wu-card-remover,
.wu-fileAdd:hover .wu-card-remover {
    opacity: 0.5;
    transition: opacity 1s;
}

.wu-upload-error .wu-card-remover {
    opacity: 0.5;
    transition: opacity 1s;
}

.wu-preview {
    width: 100%;
}

.wu-fileinfo {
    position: absolute;
    bottom: 0;
    padding: 0 10px;
    width: 100%;
    text-align: right;
    right: 10px;
}

.wu-fileinfo h3 {
    margin-bottom: 10px;
}

.wu-fileinfo p {
    margin: 10px 0;
    color: #999;
}

.uploaderBtn{
}
.uploadImgBox{
	position: relative;
	display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;
	.uploadImgHide{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 10;
		background-image: url('./images/deleteIcon.png');
		background-size: 80px 80px;
		background-position: center center;
		background-repeat: no-repeat;
		background-color: rgba(0,0,0,0.2);
		border-radius: 6px;
		display: none;
	}
}

/*# sourceMappingURL=base.css.map */
